<div class="ticket" draggable="true" data-id="{{id}}">
  <div class="ticket-title">
    <a href="/ticket/{{id}}">{{title}}</a>
  </div>
  {{#if tags.length}}
    <div class="ticket-tags">
      {{#each tags}}
        <span class="tag" style="background-color: {{color}}">{{name}}</span>
      {{/each}}
    </div>
  {{/if}}
</div>
